@import url(http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html, body {
	margin:0;
	padding:0;
}
body{
	text-align: center;
	font-family: 'Droid Sans', arial, serif;
	background-color: #444;
	color: #444;
	font-size: 75%;
}
a, #googlecart-widget-control, .googlecart-add {
	cursor: pointer;
	color: #666;
	text-decoration: none;
	border:0px;
}
a:focus, a:hover, a:active, #googlecart-widget-control:hover, .googlecart-add :hover {
	text-decoration: underline;
}
p{
	color: #666;
}
p, li {
	line-height: 1.8em;

}
h1, h2 ,  .headera ,  .headerb {
	font-family: 'OFL Sorts Mill Goudy TT', arial, serif;
	margin: 0;
	letter-spacing:-1px;
	color: #ccc;
	float:left;
	clear: both;
	width: 500px;
	font-weight: normal;
}
h1 {
	padding: 0;
	font-size: 3em;
}
 .headera, .headerb {
	font-size:3em;
	clear: none;
	width:auto;
	color:#ccc;
} 

.headerb {
	color:green;
}
img {
	border:0px;
}
h2 {
	padding-top: 10px;
	font-size:2em;
	text-align: left;
	color: #ccc;
}
pre {
	font-size: 1.2em;
	line-height: 1.2em;
	overflow-x: auto;
}
div#page {
	width: 900px;
	background-color: #222;
	margin: 0 auto;
	text-align: left;
	border-color: #ddd;
	border-style: none solid solid;
	border-width: medium 0px 0px;
}
div#container {
	padding: 20px;
	height: 637px;
}
div#ads {
	clear: both;
	padding: 12px 0 12px 66px;
}
div#footer {
	clear: both;
	color: #777;
	margin: 0 auto;
	padding: 20px 0 40px;
	text-align: center;
}
ul.menu, #googlecart-widget-control, .googlecart-add {
	float: right;
	margin: 0;
	padding: 0;
}
ul.menu li, #googlecart-widget-control, .googlecart-add {
	float: right;
	list-style: none;
}

ul.menu li a , #golink, #googlecart-widget-control, .googlecart-add {
	padding: 0px 5px 5px 5px;
}

ul.menu:hover li:hover a:hover, #golink:hover, #googlecart-widget-control:hover, .googlecart-add:hover {
	background-color: #eee;
}
.menuselected {
	color: #999;
	cursor: text;
}
ul.menu:hover li:hover a.menuselected:hover {
	text-decoration: none;
	background-color: #222;
}

.hidden
{
display: none;
}

#orderprints {
	float:left;
	width:100px;
}

#prevNext
{
margin: 560px 0px -533px 60px;
min-width:300px;
}
#jFlowSlide{
border: 15px solid #eee;
}

#prevNext img
{
position: relative;
z-index: 2;
cursor: pointer;

}

.jFlowNext {
margin-left:570px;
}

#slides p
{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 130px;
font-size: 1.5em;
position: relative;
top: -554px;
line-height: 100px;
height: 100px;
background: black;
color: #fff;
opacity: .7;
filter:alpha(opacity=70);
}

.prices {
	list-style-type:square;
	color: #ccc;
}

.googlecart-override #googlecart-widget-body {
    background-color: #999 !important;
	border: 10px solid #eee !important;
}

.googlecart-override .googlecart-widget-title {
	color: #000 !important;
}

.googlecart-override .googlecart-widget-item {
    background-color: #999 !important;
	border-bottom: 5px solid #eee !important;
}

.googlecart-override .googlecart-widget-price {
   color: #222 !important;
}

.googlecart-override #googlecart-add-button {
    border-top-width: 4px;
}

.googlecart-add {
	padding: 5px;
	margin-right: 2px;
}